

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>

    <div class="logout-button-container">
  <form action="/logout" method="post"  onsubmit="console.log('Form submitted')">
    <button class="logout-button" type="submit">Logout</button>
  </form>
</div>

        <container>
    <row>
        <columns small="12">
            <table border="0" cellpadding="0" cellSpacing="0" width="100%" style=" border-left:1px solid white; border-right:1px solid white;border-bottom :1px solid white; padding:10px" bg="#ffffff"></table>
       <tr>
        <div width="350" height="150" align="center" style="border-radius:50%;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpsOZMm6hxCH_zQpZVQSJ-weJ-ZE4Q94UkjCYPscOuU17SWeGGbH_5IJKBuubxtX9U1wg&usqp=CAU" width="60" height=""></img>

        </div>
       </tr>
       <tr>
        <td align="center" style="padding:0px 40px 40px 40px;">
            <p style="color:#262626; font-size:32px; text-align:center;  font-family: cursive;">
                Hello <%= name %> 
            </p>
            Congratulation!!<br></br>
            Your account has been activated successsfully!
        </td>
       </tr>
        </columns>
    </row>
</container>
 <script>
document.addEventListener("DOMContentLoaded", function() {
  document.getElementById("logout-form").addEventListener("submit", async function(event) {
    event.preventDefault(); // Prevent the default form submission
  
  try {
    // Send a POST request to the "/logout" endpoint
    const response = await fetch("/logout", {
      method: "POST"
    });

    if (response.ok) {
      // Redirect to the home page after successful logout
      window.location.href = "/"; // Change this URL to your home page URL
    } else {
      console.error("Logout failed.");
    }
  } catch (error) {
    console.error("An error occurred during logout:", error);
  }
});
});
</script>
</body>
</html>
 
